@font-face {
  font-family: MadeTommy;
  src: url(./assets/fonts/MadeTommy.otf);
}

:root {
  --bg-color: #0c0a09;
  --main-div-border-color: antiquewhite;
  --form-bg-color: #1c1917;
  --font-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-size: 1.2rem;
  font-family: MadeTommy;
}

html,
body {
  width: 100%;
  height: 100%;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

#main{
  width: 60%;
  min-width: 750px;
  height: 85%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--main-div-border-color);
  box-shadow: 1px 1px 10px var(--main-div-border-color);
}

#top-div,
#bottom-div{
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}

#top-left,
#top-right{
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--main-div-border-color);
  padding: 30px;
}

#top-left div,
#top-right div{
  margin: 7px 0;
}

#top-left{
}

#top-right{
}

#bottom-div{
  flex-direction: column;
}

#bottom-top{
  flex: 1;
}

#bottom-bottom{
  flex: 3;
}

#bottom-top,
#bottom-bottom{
  width: 100%;
  height: 100%;
  border: 1px solid var(--main-div-border-color);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    border-radius: 30px;
    background-color: var(--form-bg-color);
}

form>div:first-child{
    padding: 20px;
}

form #content-div{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
