:root {
  --bg-color: #0c0a09;
  --form-bg-color: #1c1917;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;
    border-radius: 30px;
    background-color: var(--form-bg-color);
}

form>div:first-child{
    padding: 20px;
}

form #content-div{
    width: 100%;
    height: 100%;
    background-color: aqua;
}
